body{
    font-family: sans-serif;
    border-radius:50px;
    box-shadow: -8px -8px 15px rgba(124, 117, 117, 0.123),5px 5px 15px rgba(0, 0, 0.2);
    background: #7d8999;
   
    
}

h1{
    text-align: center;
    color: rgb(13, 13, 14);
    margin: 30px 0 50px;
}

.gallery{
    margin: 10px 50px;

}

.gallery img{
    width: 230px;
    padding: 5px;
    filter:grayscale(100%);
    transition: 1s;
}

.gallery img:hover{
    filter: grayscale(0);
    transform:scale(1.1);
}